@import url(https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap);
*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0;
  margin: 0;
  font-family: "League Spartan", sans-serif;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

button.white {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 80px;
  background-color: #e3e6f3;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#navbar li {
  padding: 0 20px;
  position: relative;
}
#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#navbar li a:hover, #navbar li a.active {
  color: #088178;
}
#navbar li a.active::after {
  content: "";
  width: 30%;
  height: 2px;
  position: absolute;
  bottom: -4px;
  left: 20px;
  background-color: #088178;
}
#navbar li a.active svg {
  -webkit-filter: invert(37%) sepia(21%) saturate(2551%) hue-rotate(134deg) brightness(96%) contrast(94%);
          filter: invert(37%) sepia(21%) saturate(2551%) hue-rotate(134deg) brightness(96%) contrast(94%);
}
#navbar #close {
  display: none;
}

#mobile {
  display: none;
}

@media (max-width: 799px) {

  #navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #e3e6f3;
    -webkit-box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
            box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    z-index: 9999;
  }
  #navbar li {
    margin-bottom: 25px;
  }
  #navbar li.lg-hide {
    display: none;
  }
  #navbar.active {
    right: 0;
  }
  #navbar #close {
    display: inherit;
    position: absolute;
    top: 30px;
    right: 30px;
    color: #222;
  }

  #mobile {
    display: block;
  }
  #mobile a {
    text-decoration: none;
  }
  #mobile svg {
    width: 24px;
    height: 24px;
    -webkit-filter: invert(6%) sepia(84%) saturate(7%) hue-rotate(314deg) brightness(94%) contrast(91%);
            filter: invert(6%) sepia(84%) saturate(7%) hue-rotate(314deg) brightness(94%) contrast(91%);
  }
  #mobile span {
    padding-left: 20px;
  }
}
@media (max-width: 477px) {
  #header {
    padding: 10px 30px;
  }
}
#hero {
  background-image: url(https://ngpham1123.github.io/cara-fashion/img/hero4.png);
  height: 90vh;
  width: 100vw;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#hero h4 {
  padding-bottom: 15px;
}
#hero h1 {
  color: #088178;
}
#hero button {
  background-image: url(https://ngpham1123.github.io/cara-fashion/img/button.png);
  background-color: transparent;
  color: #088178;
  border: 0;
  padding: 14px 80px 25px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}

#featured {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#featured .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 20px;
  -webkit-box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
          box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#featured .fe-box:hover {
  -webkit-box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
          box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}
#featured .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}
#featured .fe-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #fddde4;
}
#featured .fe-box:nth-child(2) h6 {
  background-color: #cdebbc;
}
#featured .fe-box:nth-child(3) h6 {
  background-color: #d1e8f2;
}
#featured .fe-box:nth-child(4) h6 {
  background-color: #cdd4f8;
}
#featured .fe-box:nth-child(5) h6 {
  background-color: #f6dbf6;
}
#featured .fe-box:nth-child(6) h6 {
  background-color: #fff2e5;
}

#product1 {
  text-align: center;
}
#product1 .pro-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#product1 .pro {
  position: relative;
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  -webkit-box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
          box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
#product1 .pro:hover {
  -webkit-box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
          box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
#product1 .pro .img-prd {
  width: 100%;
  border-radius: 20px;
}
#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}
#product1 .pro .des span {
  color: #606b63;
  font-size: 12px;
}
#product1 .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}
#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}
#product1 .pro .star {
  padding-top: 7px;
}
#product1 .pro .star svg {
  width: 12px;
  -webkit-filter: invert(78%) sepia(88%) saturate(2298%) hue-rotate(346deg) brightness(98%) contrast(95%);
          filter: invert(78%) sepia(88%) saturate(2298%) hue-rotate(346deg) brightness(98%) contrast(95%);
}
#product1 .pro .cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: 40px;
  height: 40px;
  border-radius: 500px;
  background-color: #e8f6ea;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
#product1 .pro .cart:hover {
  background-color: #fff;
}
#product1 .pro .cart svg {
  position: relative;
  left: 1px;
  -webkit-filter: invert(34%) sepia(99%) saturate(391%) hue-rotate(126deg) brightness(96%) contrast(96%);
          filter: invert(34%) sepia(99%) saturate(391%) hue-rotate(126deg) brightness(96%) contrast(96%);
}

#banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-image: url(https://ngpham1123.github.io/cara-fashion/img/banner/b2.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}
#banner h4 {
  color: #fff;
  font-size: 16px;
}
#banner h2 {
  color: #fff;
  font-size: 30px;
  padding: 10px 0;
}
#banner h2 span {
  color: #ef3636;
}
#banner button:hover {
  background-color: #088178;
  color: #fff;
}

#sm-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#sm-banner .banner-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: center;
  background-image: url(https://ngpham1123.github.io/cara-fashion/img/banner/b17.jpg);
  min-width: 43vw;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 60px;
  cursor: pointer;
}
#sm-banner .banner-box.banner-box-nd {
  background-image: url(https://ngpham1123.github.io/cara-fashion/img/banner/b10.jpg);
}
#sm-banner .banner-box:hover button {
  background-color: #088178;
  border: 1px solid #088178;
}
#sm-banner .banner-box h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}
#sm-banner .banner-box h2 {
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}
#sm-banner .banner-box span {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}

#banner-rd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 80px;
}
#banner-rd .banner-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: center;
  background-image: url(https://ngpham1123.github.io/cara-fashion/img/banner/b7.jpg);
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}
#banner-rd .banner-box.banner-box-nd {
  background-image: url(https://ngpham1123.github.io/cara-fashion/img/banner/b4.jpg);
}
#banner-rd .banner-box.banner-box-rd {
  background-image: url(https://ngpham1123.github.io/cara-fashion/img/banner/b18.jpg);
}
#banner-rd .banner-box h2 {
  color: #fff;
  font-size: 22px;
  font-weight: 900;
}
#banner-rd .banner-box h3 {
  color: #ec544e;
  font-size: 15px;
  font-weight: 800;
}

#newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(https://ngpham1123.github.io/cara-fashion/img/banner/b14.png);
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
}
#newsletter .newstext h4 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}
#newsletter .newstext p {
  font-size: 14px;
  font-weight: 600;
  color: #818ea0;
}
#newsletter .newstext p span {
  color: #ffbd27;
}
#newsletter .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#newsletter .form input {
  height: 3.125rem;
  padding: 0 1.25rem;
  font-size: 14px;
  width: 100%;
  min-width: 380px;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
#newsletter .form button {
  background-color: #088178;
  color: #fff;
  white-space: nowrap;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

@media (max-width: 799px) {
  .section-p1 {
    padding: 40px 40px;
  }

  #hero {
    height: 70vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
  }

  #featured {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #featured .fe-box {
    margin: 15px;
  }

  #product1 .pro-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #product1 .pro {
    margin: 15px;
  }

  #banner {
    height: 20vh;
  }

  #sm-banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #sm-banner .banner-box {
    min-width: 100%;
    height: 30vh;
  }

  #banner-rd {
    padding: 0 40px;
  }
  #banner-rd .banner-box {
    width: 28%;
  }

  #newsletter .form {
    width: 70%;
  }
}
@media (max-width: 477px) {
  .section-p1 {
    padding: 20px;
  }

  #hero {
    padding: 0 30px;
    background-position: top 30% right 40%;
  }
  #hero h1 {
    font-size: 38px;
  }
  #hero h2 {
    font-size: 32px;
  }

  #featured {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #featured .fe-box {
    width: 155px;
    margin: 0 0 15px 0;
  }

  #product1 .pro {
    width: 100%;
  }

  #banner {
    height: 40vh;
    padding: 10px;
  }

  #sm-banner .banner-box {
    height: 40vh;
    padding: 20px;
  }
  #sm-banner .banner-box.banner-box-nd {
    margin-top: 20px;
  }

  #banner-rd {
    padding: 0 20px;
  }
  #banner-rd .banner-box {
    width: 100%;
  }

  #newsletter {
    padding: 40px 20px;
  }
  #newsletter .form {
    width: 100%;
  }
  #newsletter .form input {
    min-width: 100px;
  }
}
#page-header {
  background-image: url(https://ngpham1123.github.io/cara-fashion/img/banner/b1.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 14px;
}
#page-header.blog-header {
  background-image: url(https://ngpham1123.github.io/cara-fashion/img/banner/b19.jpg);
}
#page-header#about-head, #page-header.contact-header, #page-header.cart-header {
  background-image: url(https://ngpham1123.github.io/cara-fashion/img/about/banner.png);
}
#page-header h2, #page-header p {
  color: #fff;
}

#blog {
  padding: 150px 150px 0 150px;
}
#blog .blog-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
  padding-bottom: 90px;
}
#blog .blog-box h1 {
  position: absolute;
  top: -40px;
  left: 0;
  font-size: 70px;
  font-weight: 700;
  color: #c9cbce;
  z-index: -1;
}
#blog .blog-img {
  width: 50%;
  margin-right: 40px;
}
#blog .blog-img img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
#blog .blog-details {
  width: 50%;
}
#blog .blog-details a {
  position: relative;
  text-decoration: none;
  font-size: 11px;
  color: #000;
  font-weight: 700;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
#blog .blog-details a::before {
  content: "";
  width: 50px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 4px;
  right: -60px;
}
#blog .blog-details a:hover::before {
  background-color: #088178;
}
#blog .blog-details a:hover {
  color: #088178;
}

#about-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#about-head img {
  width: 50%;
  height: auto;
}
#about-head div {
  width: 50%;
  padding-left: 40px;
}

#about-app {
  text-align: center;
}
#about-app .video {
  width: 70%;
  height: 100%;
  margin: 30px auto 0 auto;
}
#about-app .video video {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#contact .details {
  width: 40%;
}
#contact .details span {
  font-size: 12px;
}
#contact .details h2 {
  font-size: 26px;
  line-height: 35px;
  padding: 20px 0;
}
#contact .details h3 {
  font-size: 16px;
  padding-bottom: 15px;
}
#contact ul li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
}
#contact ul li svg {
  width: 14px;
  display: block;
  margin-right: 20px;
}
#contact ul li p {
  font-size: 14px;
  margin: 0;
}
#contact .map {
  width: 55%;
  height: 400px;
}
#contact .map iframe {
  width: 100%;
  height: 100%;
}

#form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px;
  padding: 80px;
  border: 1px solid #e1e1e1;
}
#form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 65%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
#form form span {
  font-size: 12px;
}
#form form h2 {
  font-size: 26px;
  line-height: 35px;
  padding: 20px 0;
}
#form form input, #form form textarea {
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid #e1e1e1;
}
#form form textarea {
  max-width: 100%;
  min-width: 100%;
}
#form form button {
  background-color: #088178;
  color: #fff;
}
#form .people {
  padding-bottom: 25px;
}
#form .people div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#form .people div img {
  width: 65px;
  height: 65px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 15px;
}
#form .people div p {
  margin: 0;
  font-size: 13px;
  line-height: 25px;
}
#form .people div span {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

#product1 {
  text-align: center;
}
#product1 .pro-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#product1 .pro {
  position: relative;
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  -webkit-box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
          box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
#product1 .pro:hover {
  -webkit-box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
          box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
#product1 .pro .img-prd {
  width: 100%;
  border-radius: 20px;
}
#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}
#product1 .pro .des span {
  color: #606b63;
  font-size: 12px;
}
#product1 .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}
#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}
#product1 .pro .star {
  padding-top: 7px;
}
#product1 .pro .star svg {
  width: 12px;
  -webkit-filter: invert(78%) sepia(88%) saturate(2298%) hue-rotate(346deg) brightness(98%) contrast(95%);
          filter: invert(78%) sepia(88%) saturate(2298%) hue-rotate(346deg) brightness(98%) contrast(95%);
}
#product1 .pro .cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: 40px;
  height: 40px;
  border-radius: 500px;
  background-color: #e8f6ea;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#product1 .pro .cart svg {
  position: relative;
  left: 1px;
  -webkit-filter: invert(34%) sepia(99%) saturate(391%) hue-rotate(126deg) brightness(96%) contrast(96%);
          filter: invert(34%) sepia(99%) saturate(391%) hue-rotate(126deg) brightness(96%) contrast(96%);
}

#pagination {
  text-align: center;
}
#pagination a {
  text-decoration: none;
  background-color: #088178;
  padding: 15px 20px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
#pagination a:hover {
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}

#newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(https://ngpham1123.github.io/cara-fashion/img/banner/b14.png);
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
}
#newsletter .newstext h4 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}
#newsletter .newstext p {
  font-size: 14px;
  font-weight: 600;
  color: #818ea0;
}
#newsletter .newstext p span {
  color: #ffbd27;
}
#newsletter .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#newsletter .form input {
  height: 3.125rem;
  padding: 0 1.25rem;
  font-size: 14px;
  width: 100%;
  min-width: 380px;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
#newsletter .form button {
  background-color: #088178;
  color: #fff;
  white-space: nowrap;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

#cart table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}
#cart table thead {
  border: 1px solid #e2e9e1;
  border-left: none;
  border-right: none;
}
#cart table thead td {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  padding: 18px 0;
}
#cart table tbody td {
  padding-top: 15px;
  font-size: 13px;
}
#cart table td input {
  width: 70px;
  padding: 10px 5px 10px 15px;
  outline: none;
}
#cart table td:nth-child(1) {
  width: 100px;
  text-align: center;
}
#cart table td:nth-child(2) {
  width: 150px;
  text-align: center;
}
#cart table td:nth-child(3) {
  width: 250px;
  text-align: center;
}
#cart table td:nth-child(4), #cart table td:nth-child(5), #cart table td:nth-child(6) {
  width: 150px;
  text-align: center;
}
#cart table svg {
  width: 14px;
}
#cart table img {
  width: 70px;
}

#cart-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#cart-add h3 {
  padding-bottom: 15px;
}
#cart-add button {
  background-color: #088178;
  color: #fff;
  padding: 12px 20px;
}
#cart-add button:hover {
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}

#coupon {
  width: 50%;
  margin-bottom: 30px;
}
#coupon input {
  padding: 10px 20px;
  width: 60%;
  margin-right: 10px;
  border: 1px solid #e2e9e1;
}

#subtotal {
  width: 50%;
  margin-bottom: 30px;
  border: 1px solid #e2e9e1;
  padding: 30px;
}
#subtotal table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}
#subtotal table td {
  width: 50%;
  border: 1px solid #e2e9e1;
  padding: 10px;
  font-size: 13px;
}

@media (max-width: 799px) {
  .section-p1 {
    padding: 40px 40px;
  }

  #hero {
    height: 70vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
  }

  #featured {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #featured .fe-box {
    margin: 15px;
  }

  #product1 .pro-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #product1 .pro {
    margin: 15px;
  }

  #banner {
    height: 20vh;
  }

  #sm-banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #sm-banner .banner-box {
    min-width: 100%;
    height: 30vh;
  }

  #banner-rd {
    padding: 0 40px;
  }
  #banner-rd .banner-box {
    width: 28%;
  }

  #newsletter .form {
    width: 70%;
  }

  #form {
    padding: 40px;
  }
  #form form {
    width: 50%;
  }

  #cart {
    overflow-x: auto;
  }
}
@media (max-width: 477px) {
  .section-p1 {
    padding: 20px;
  }

  #hero {
    padding: 0 30px;
    background-position: top 30% right 40%;
  }
  #hero h1 {
    font-size: 38px;
  }
  #hero h2 {
    font-size: 32px;
  }

  #featured {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #featured .fe-box {
    width: 155px;
    margin: 0 0 15px 0;
  }

  #product1 .pro {
    width: 100%;
  }

  #banner {
    height: 40vh;
  }

  #sm-banner .banner-box {
    height: 40vh;
    padding: 20px;
  }
  #sm-banner .banner-box.banner-box-nd {
    margin-top: 20px;
  }

  #banner-rd {
    padding: 0 20px;
  }
  #banner-rd .banner-box {
    width: 100%;
  }

  #newsletter {
    padding: 40px 20px;
  }
  #newsletter .form {
    width: 100%;
  }

  #blog {
    padding: 100px 20px 0 20px;
  }
  #blog .blog-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #blog .blog-img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  #blog .blog-details {
    width: 100%;
  }

  #about-head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 10px;
  }
  #about-head img {
    width: 100%;
    margin-bottom: 20px;
  }
  #about-head div {
    width: 100%;
    padding-left: 0;
  }

  #about-app .video {
    width: 100%;
  }

  #contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #contact .details {
    width: 100%;
    margin-bottom: 30px;
  }
  #contact .map {
    width: 100%;
  }

  #form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 20px;
  }
  #form form {
    width: 100%;
    margin-bottom: 30px;
  }

  #cart-add {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  #coupon {
    width: 100%;
  }

  #subtotal {
    width: 100%;
  }
}
#prodetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}
#prodetails .single-pro-img {
  width: 40%;
  margin-right: 50px;
}
#prodetails .single-pro-img .small-img-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#prodetails .single-pro-img .small-img-group .small-img-col {
  -ms-flex-preferred-size: 24%;
      flex-basis: 24%;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
#prodetails .single-pro-img .small-img-group .small-img-col:hover {
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}
#prodetails .single-pro-details {
  width: 50%;
  padding-top: 30px;
}
#prodetails .single-pro-details h4 {
  padding: 40px 0 20px 0;
}
#prodetails .single-pro-details h2 {
  font-size: 26px;
}
#prodetails .single-pro-details select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}
#prodetails .single-pro-details select:focus {
  outline: none;
}
#prodetails .single-pro-details input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}
#prodetails .single-pro-details input:focus {
  outline: none;
}
#prodetails .single-pro-details button {
  background-color: #088178;
  color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
#prodetails .single-pro-details button:hover {
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}
#prodetails .single-pro-details span {
  line-height: 25px;
}

#newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(https://ngpham1123.github.io/cara-fashion/img/banner/b14.png);
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
}
#newsletter .newstext h4 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}
#newsletter .newstext p {
  font-size: 14px;
  font-weight: 600;
  color: #818ea0;
}
#newsletter .newstext p span {
  color: #ffbd27;
}
#newsletter .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#newsletter .form input {
  height: 3.125rem;
  padding: 0 1.25rem;
  font-size: 14px;
  width: 100%;
  min-width: 380px;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
#newsletter .form button {
  background-color: #088178;
  color: #fff;
  white-space: nowrap;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

@media (max-width: 799px) {
  .section-p1 {
    padding: 40px 40px;
  }

  #newsletter .form {
    width: 70%;
  }
}
@media (max-width: 477px) {
  .section-p1 {
    padding: 20px;
  }

  #prodetails {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #prodetails .single-pro-img {
    width: 100%;
    margin-right: 0;
  }
  #prodetails .single-pro-details {
    width: 100%;
  }
  #prodetails .single-pro-details h4 {
    padding: 20px 0;
  }
  #prodetails .single-pro-details h4:nth-child(7) {
    padding-top: 40px;
  }
  #prodetails .single-pro-details h2 {
    line-height: 0;
    padding: 10px 0 40px 0;
  }
  #prodetails .single-pro-details select {
    padding: 10px;
    margin-bottom: 20px;
  }

  #newsletter {
    padding: 40px 20px;
  }
  #newsletter .form {
    width: 100%;
  }
  #newsletter .form input {
    min-width: 100px;
  }
}
footer .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 20px;
}
footer .col .logo {
  margin-bottom: 30px;
}
footer .col h4 {
  font-size: 14px;
  padding-bottom: 20px;
}
footer .col p {
  font-size: 13px;
  margin: 0 0 8px 0;
}
footer .col a {
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}
footer .col a:hover {
  color: #088178;
}
footer .follow {
  margin-top: 20px;
}
footer .follow .social svg {
  padding-right: 4px;
  cursor: pointer;
  -webkit-filter: invert(34%) sepia(3%) saturate(2259%) hue-rotate(102deg) brightness(92%) contrast(90%);
          filter: invert(34%) sepia(3%) saturate(2259%) hue-rotate(102deg) brightness(92%) contrast(90%);
}
footer .follow .social svg:hover {
  -webkit-filter: invert(23%) sepia(59%) saturate(4510%) hue-rotate(165deg) brightness(93%) contrast(94%);
          filter: invert(23%) sepia(59%) saturate(4510%) hue-rotate(165deg) brightness(93%) contrast(94%);
}
footer .install .row div {
  width: 5px;
}
footer .install .row img {
  border: 1px solid #088178;
  border-radius: 6px;
}
footer .install img {
  margin: 10px 0 15px 0;
}
footer .copyright {
  text-align: center;
}

@media (max-width: 477px) {
  footer .copyright {
    text-align: start;
  }
}
